/* card.html */
#alpha-card #card {
    box-shadow: 3px 3px 10px #888;
    width: 32%;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2000000;
    position: fixed;
    right: 10px;
    top: 100px;
    background-color: white;
}
#alpha-card #close {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: white;
    color: #888888;
    font-size: 20px;
}
#alpha-card .active, #close:hover {
    color: #333333;
}
#alpha-card #collapsible {
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 25px;
    color: black;
    background-color: white;
    padding-right: 30px;
}
#alpha-card .active, #collapsible:hover {
    color: black;
    background-color: white;
    border: none;
    text-align: left;
}

#alpha-card #pitfalls-title, #links-title {
    font-size: 14px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    color: black !important;
}
#alpha-card .pitfalls-text{
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    color: black !important;
    line-height: 130% !important;
}
#alpha-card .links-text {
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    color: darkblue !important;
    text-decoration: darkblue !important;
}
#alpha-card #title {
    font-size: 16px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    color: black !important;
    font-weight: bold;
}
#alpha-card #collapsible-content {
    display: none;  /* card content collapsed by default */
    overflow: hidden;
    margin-left: 32px;
    color: black;
    background-color: white;
    text-align: left;
    max-height: 50vh;
    overflow-y: auto;  /* scrolling enabled when text is clipped */
    padding-right: 30px;
}


/* popup.html */
#alpha-popup body {
    font-family: Arial, Helvetica, sans-serif;
}
#alpha-popup input[type=radio] {
    border: 0;
    width: 100%;
    height: 2em;
}
#alpha-popup .header {
    padding: 1px;
    text-align: center;
    color: white;
    width: 300px;
    background: cornflowerblue;
}
#alpha-popup .model-options {
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
}
#alpha-popup .fixed {
    width: 70%;
}
#alpha-popup .flex-item {
    flex-grow: 1;
    position: relative;
}
#alpha-popup .center {
    position: absolute;
    left: 50%;
    top: 40%;
}
#alpha-popup #card-style-reset {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 5px;
    border: none;
    color: #333333;
    font-size: 11px;
    cursor: pointer;
    padding: 3px 8px;
}

/* about.html */
#alpha-about .about-h2 {
    font-size: 20px
}
#alpha-about .about-h3 {
    font-size: 16px;
}
#alpha-about .col-left {
    float: left;
    width: 45%;
    margin: auto;
}
#alpha-about .col-right {
    float: right;
    width: 45%;
    margin: auto;
}
/* clear floats after the columns */
#alpha-about .row:after {
    content: "";
    display: table;
    clear: both;
}
/* responsive columns */
@media screen and (max-width: 600px) {
    #alpha-about .col-left {
        width: 100%;
    }
    #alpha-about .col-right {
        width: 100%;
    }
}